<app-table-light *ngIf="collectionUser" [headers]="collectionHeaders" class="table-striped">
  <tr *ngFor="let c of collectionUser">
   <td>{{ c.id }}</td>
   <td>{{ c.username }}</td>
   <!-- <td>{{ c.role }}</td> -->
   <!-- <td [appColorState]="c.state">{{ c.state }}</td> -->
   <!--todo-->
  <td > <!--[appColorState]="c.role" -->
     <select (change) = "changeRole(c, $event)">
       <option *ngFor="let s of states" [value]="s" [selected]= "s === c.role">
         {{s}}
       </option>
     </select>
   </td>
 </tr>

 </app-table-light>

 <app-btn [label]="btnRoute.label" [route]="btnRoute.route"></app-btn>
