<!-- <p>{{ headers | json }} </p>
<p>{{ collection | json }} </p> -->
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let h of headers">{{ h }}</th>
    </tr>
  </thead>
  <tbody *ngIf="collectionOrder">
    <tr *ngFor="let c of collectionOrder">
        <td>{{ c.typePresta }}</td>
        <td>{{ c.client }}</td>
        <td>{{ c | nbJours }}</td>
        <td>{{ c | total: 'TTC' | currency: 'USD' }}</td>
        <td>{{ c | total | currency: 'USD'  }}</td>
        <td>{{ c.comment }}</td>
        <td>{{ c.date | date: 'dd-MM-yyyy' }}</td>
        <td>{{ c.state }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="collectionClient">
    <tr *ngFor="let c of collectionClient">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.ca }}</td>
      <td>{{ c.comment }}</td>
      <td>{{ c.tva }}</td>
      <td>{{ c.total() }}</td>
      <td>{{ c.state }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="collectionUser">
    <tr *ngFor="let c of collectionUser">
      <td>{{ c.id }}</td>
      <td>{{ c.username }}</td>
      <td>{{ c.password }}</td>
      <td>{{ c.role }}</td>
    </tr>
  </tbody>

</table>
