<!-- <p>{{ headers | json }} </p>
<p>{{ collection | json }} </p> -->
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let h of headers">{{ h }}</th>
    </tr>
  </thead>
  <tbody *ngIf="collectionOrder">
    <tr *ngFor="let c of collectionOrder">
        <td>{{ c.typePresta }}</td>
        <td>{{ c.client }}</td>
        <td>{{ c.nbJours }}</td>
        <td>{{ c.tjmHT }}</td>
        <td>{{ c.totalHT() }}</td>
        <td>{{ c.comment }}</td>
        <td>{{ c.state }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="collectionClient">
    <tr *ngFor="let c of collectionClient">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.ca }}</td>
      <td>{{ c.comment }}</td>
      <td>{{ c.tva }}</td>
      <td>{{ c.total() }}</td>
      <td>{{ c.state }}</td>
    </tr>
  </tbody>

</table>
