<div class="container">
  <form [formGroup]="form" (ngSubmit)="onsubmit()">
    <div class="form-group">
      <label for="typePresta">Type Prestation</label>
      <input formControlName="typePresta" type="text" class="form-control" id="typePresta">
    </div>
    <div *ngIf="form.get('typePresta').invalid && form.get('typePresta').touched" class="alert alert-danger">Champ vide</div>
    <div class="form-group">
      <label for="client">client</label>
      <input formControlName="client" type="text" class="form-control" id="client">
    </div>
    <div *ngIf="form.get('client').errors?.required && form.get('client').touched" class="alert alert-danger">Champ vide</div>
    <div *ngIf="form.get('client').errors?.minlength && form.get('client').touched" class="alert alert-danger">Minimum 3 characters</div>
    <div class="form-group">
      <label for="nbJours">Nombre jours</label>
      <input formControlName="nbJours" type="number" class="form-control" id="nbJours">
    </div>
    <div class="form-group">
      <label for="tjmHT">tjmHT</label>
      <input formControlName="tjmHT" type="number" class="form-control" id="tjmHT">
    </div>
    <div class="form-group">
      <label for="tva">TVA</label>
      <input formControlName="tva" type="number" class="form-control" id="tva">
    </div>
    <div class="form-group">
      <label for="comment">Commentaire</label>
      <textarea formControlName="comment" class="form-control" id="comment"></textarea>
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" formControlName="date" class="form-control" id="date">
    </div>
    <div class="form-group">
      <label for="state">Etat</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let s of states" [ngValue]="s">{{s}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Send</button>
  </form>
</div>
