@import 'themes';
@import 'fonts';


app-general-text {
  display: block;
  padding: 10px;
}

h1, h2, h3, p, span, i, li {
  color: $light-color;
}
.pages {
  h1, h2, h3, p, span, i, li {
    color: red;
  }
}

.isClientPage {
  h1 {
    color: white;
    font-weight: bold;
  }
  h2 {
    color: white;
    font-style: italic;
  }
}

h1 {
  font-size: $h1-fz;
  margin-top: 0;
}
h2 {
  font-size: $h2-fz;
  margin-bottom: 0;
}
h3 {
  font-size: $h3-fz;
}

p, span, i, li {
  font-size: $regular-fz;
}
