<app-table-light *ngIf="collectionOrder" [headers]="collectionHeaders">
 <tr *ngFor="let c of collectionOrder">
  <td>{{ c.typePresta }}</td>
  <td>{{ c.client }}</td>
  <td [appColorNbJours]="c.nbJours">{{ c | nbJours }}</td>
  <td>{{ c | total: 'TTC' | currency: 'USD' }}</td>
  <td>{{ c | total | currency: 'USD'  }}</td>
  <td>{{ c.comment }}</td>
  <td>{{ c.date | date: 'dd-MM-yyyy' }}</td>
  <!-- <td [appColorState]="c.state">{{ c.state }}</td> -->
  <td [appColorState]="c.state">
    <select (change) = "changeState(c, $event)">
      <option *ngFor="let s of states" [value]="s" [selected]= "s === c.state">
        {{s}}
      </option>
    </select>
  </td>
</tr>

</app-table-light>
