<p>{{clientListTitle}}</p>
<app-table-light *ngIf="collectionClient" [headers]="collectionHeaders">
  <tr *ngFor="let c of collectionClient">
    <td>{{ c.id }}</td>
    <td>{{ c.name }}</td>
    <td>{{ c.ca }}</td>
    <td>{{ c.comment }}</td>
    <td>{{ c.tva }}</td>
    <td>{{ c.total() }}</td>
    <!-- <td>{{ c.state }}</td> -->
    <td>
      <select (change) = "changeState(c, $event)">
        <option *ngFor="let s of states" [value]="s" [selected]= "s === c.state">
          {{s}}
        </option>
      </select>
    </td>

  </tr>
</app-table-light>
