@import 'themes';

.state-cancel {
  background: $color-error;
}
.state-option {
  background: $color3;
}
.state-confirmed {
  background: $color-success;
}
.green-nbjours {
  color: $color-success;
}

.red-nbjours {
  color: $color-error;
}
